@model LockDownApp.Web.ViewModels.SchoolViewModel.StudentViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @*<form asp-action="Edit">*@
        @using (Html.BeginForm("Edit", "Students", new { area = "School" }))
        {
            
            @Html.HiddenFor(model => model.Id)

            @*<input type="hidden" asp-for="Id" />*@
            <div class="form-group">
                @Html.LabelFor(m => m.StudentName)
                @Html.TextBoxFor(m => m.StudentName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.StudentName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ContactNo)
                @Html.TextBoxFor(m => m.ContactNo, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ContactNo, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        }

        @*</form>*@
    </div>
</div>

<div>
    <a href="/School/Students/Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
